html, body, .app, .main {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    max-height: none;
    font-size: 1.15rem;
    color: #fefefe;
    font-family: 'Segoe UI', sans-serif;
}

#component-2 {
    margin-bottom: 50px;
    padding: 16px;
}

#component-2 h3 {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
}

#component-2 p, #component-2 li {
    font-size: 1rem;
    line-height: 1.6em;
}